//colors
$primary-color: #3611a2;
$secondary-color: #dc8e27;
$accent-color: #70C1BA;
$dark-color: #434343;
$grey-bg-color: #f4f4f4;
$dark-light-bg-color: #22282d;
$grey-bg-color: #E5E5E5;
$light-bg-color: #fff;
$gunmetal-bg-color: #2b3137;
$anti-flash-white-bg-color: #f0f0f0;
$plain-white-bg-color: #fff;
$text-dark-color: #434343;
$text-light-color: #ffffff;
$text-warning-color: #efd168;
$success: #41b883;
$info: #42baf9;
$warning: #faad15;
$danger: #dc3545;
